.synth-body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;
    width: 1440px;
}

.osc-bank {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.oscillator-bank-text {
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 40px;
}

.detune-slider-and-label {
    position: absolute;
    text-align: center;
    width: 70px;
    left: -75px;
    top: 40px;
}

.vertical-slider-label {
    font-weight: 600;
    margin-left: 5px;
    margin-top: 5px;
    color: white;
}

.detune-slider {
    height: 150px;
    display: inline-block;
}

.oscillator-container-inactive {
    position: relative;
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    height: 234px;
    width: 234px;
    padding: 30px;
    margin-right: 80px;
    margin-bottom: 100px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #240046;
}

.oscillator-container-active {
    position: relative;
    display: inline-block;
    background: white;
    border: 4px solid white;
    border-radius: 50%;
    height: 234px;
    width: 234px;
    padding: 30px;
    margin-left: 60px;
    margin-right: 80px;
    margin-bottom: 100px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #240046;
}

.oscillator-container-inactive:first-child {
    margin-left: 0;
}

.oscillator-container-active:first-child {
    margin-left: 0;
}

.oscillator-container-inactive:last-child {
    margin-right: 0;
}

.oscillator-container-active:last-child {
    margin-right: 0;
}


.osc-label-inactive {
    color: white;
    font-size: 22px;
}

.osc-label-active {
    color: #240046;
    font-size: 22px;
}

.osc-switch {
    margin-top: 15px;
}

.osc-params-visible {
    visibility: visible;
}

.osc-params-invisible {
    visibility: hidden;
}

.pitch-knob {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 58px;
    height: 71px;
    text-align: center;
}

.knob-label {
    margin-top: 0px;
}

.wave-dropdown {
    position: absolute;
    top: 127px;
    left: 45px;
}

.waveform-selector {
    width: 55px;
}

.volume-slider {
    position: absolute;
    top: 242px;
    left: 25%;
    width: 110px;
    color: white;
}

.envelopes {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.amp-container-plus-label {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 370px;
    margin-right: 100px;
}

.amp-label {
    width: 80%;
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 40px;
}

.amp-container {
    position: relative;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

.adsr-slider:first-child {
    margin-left: 0;
}

.adsr-slider {
    display: inline-block;
    height: 200px;
    margin-left: 35px;
    text-align: center;
}

.filter-knobs {
    display: inline-block;

}

.filter-container-plus-label {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 490px;
}

.filter-label {
    width: 80%;
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 40px;
}

.filter-container {
    position: relative;
    display: inline-block;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: center;
}

.filter-cutoff {
    position: relative;
    top: -24px;
    display: inline-block;
    text-align: center;
}

.filter-knob-label {
    margin-top: 5px;
}

.filter-warp {
    text-align: center;
}

.filter-slider {
    display: inline-block;
    height: 200px;
    margin-left: 35px;
    text-align: center;
}


.fullwidth-break {
    width: 100%;
    height: 10px;
}

.fx {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.fx-label {
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 40px;
}

.fx-container-inactive {
    position: relative;
    display: inline-block;
    border: 4px solid white;
    border-radius: 91px;
    height: 309px;
    width: 168px;
    padding: 5px;
    padding-top: 25px;
    margin-left: 55px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
}

.fx-container-inactive:first-child {
    margin-left: 0;
}

.fx-container-active {
    position: relative;
    display: inline-block;
    background: white;
    border: 4px solid white;
    border-radius: 91px;
    height: 309px;
    width: 168px;
    padding: 5px;
    padding-top: 25px;
    margin-left: 55px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #240046;
}

.fx-container-active:first-child {
    margin-left: 0;
}

.glide-knob {
    margin-top: 15px;
    text-align: center;
}

.fx-knobs {
    margin-top: 17px;
}

.verb-decay-knob {
    display: inline-block;
    margin-right: 25px;
}

.verb-delay-knob {
    display: inline-block;
}

.verb-amt-knob {
    margin-top: 15px;
}

.dist-gain-knob {
    margin-top: 17px;
}

.dist-amt-knob {
    margin-top: 15px;
}

.panic {
    display: block;
    height: auto;
    border: none;
    text-decoration: none;
    line-height: 20px;
    padding: 15px 22px;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 14px;
    font-family: futura-pt, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    background: #F03A5F;
    color: white;
    outline: none;
}

.panic:hover {
    background: #ce2849;
    cursor: pointer;
}

.panic:active {
    transform: scale(0.98);
    outline: none;
}

.panic-text {
    color: #f85878;
    font-weight: 600;
}