#creator-container {
    height: 100vh;
    width: 100%;
    background: #240046;
    display: flex;
    -webkit-box-pack: left;
    justify-content:  space-between;
    flex-flow: row wrap;
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 110px;
}

.creator-title {
    font-size: 80px;
    color: white;
    font-weight: 600;
    margin-top: 45px;
    height: 100px;
}

.text-controls {
    display: inline-block;
    margin-top: 92px;
    margin-left: auto;
    height: 53px;
}

.text-controls a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-left: 40px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.top-text-labels {
    display: inline-block;
    width: 100%;
}

.top-text-labels span {
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-left: 400px;
}